body {
    margin: 0; 
    padding: 0;
}

header {
    background-color: black;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#headline {
    color: white;
    font-weight: normal;
    padding: 1%;
    padding-left: 10%;
    margin: 0px;
}
div {
    background-color:  #f9f8f8;
    border-radius: 25px;
    padding: 1%;
}

#Bank, #Work, #LaptopSelection {
    width: 15%;
}

#btn-get-loan {
    background-color: rgb(127, 233, 127);
    border-color: rgb(115, 210, 115);
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
}